/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  color: var(--text-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--lg-st-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to top,
      var(--lg-st-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--lg-color) 0.01%,
      var(--lg-en-color)
    );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  border: 2px solid var(--border-color);
  max-inline-size: 700px;
  background-color: var(--page-bg);
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.header__logo {
  margin: 136px 0 20px 0;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  margin-block: 11px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 12px 9px;
}

.theme-menu__item {
  position: relative;
  margin-left: 18px;
}

.theme-menu__button {
  text-transform: uppercase;
  border: none;
  background: none;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  opacity: 0.6;
  animation: theme-arrowMove 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  background-color: var(--border-color);
  opacity: 0.6;
  transition: transform 0.3s ease;
  transform-origin: left;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button {
  font-family: var(--accent-font);
  font-size: 14px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  background-color: var(--border-color);
  opacity: 0.6;
  transition: transform 0.3s;
  transform-origin: left;
  height: 2px;
  transform: scaleX(0);
}

.card {
  margin: 0 auto 46px auto;
  max-inline-size: 699px;
  background-color: var(--page-bg);
  border: 2px solid var(--border-color);
}

.card__title {
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 5px 10px;
}

.card__picture-container {
  position: relative;
}

.card__picture {
  object-fit: cover;
  object-position: center;
  border-block-start: 2px solid var(--border-color);
  border-block-end: 2px solid var(--border-color);
  inline-size: 100%;
}

.card__label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--label-color),
    0 1px var(--label-color), 1px 0 var(--label-color),
    0 -1px var(--label-color);
  mix-blend-mode: hard-light;
  right: 25px;
  top: 25px;
  
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-color);
  }
}

.card__text-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 25px;
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.card__text {
  grid-column: span 2;
}

.card__text-my {
  grid-column: span 2;
  padding-top: 24px;    
}

.card__button-container {
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 26px;
}

.card__icon-button {
  width: 38px;
  height: 38px;
  border: 2px solid transparent;
  background-color: transparent; 
  transition: border-color 0.3s;
}

.like-icon {
  width: 39px;
  height: 36px;
  margin-left: -9px;
  cursor: pointer;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  border: 2px solid var(--border-color);
  background: var(--page-bg);
  cursor: pointer; 
  overflow: auto;
  margin-left: 5px;
}

.button__text {
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__like-button:focus,
.card__icon-button:focus,
.save__button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.save__button:focus-visible {
  box-shadow: 2px 2px 0 currentColor ;
}

.card__like-button::before,
.save__button::before {
  content:'';
  position: absolute;
  inset: 0;
  background-color: currentColor;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  transform-origin: left;
}

.card__like-button:hover::before,
.save__button:hover::before { 
  transform: translateX(0%);
}

.save__button {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto 105px auto;
  background: var(--page-bg);
  border: 2px solid var(--border-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  padding: 13px 22px;
  cursor: pointer;
  overflow: auto;
}

.floppy__image {
  width: 26px;
  height: 26px;
  padding-right: 8px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color);
  transition: border-color 0.3s ease;
}

.dialog {
  border: 2px solid var(--border-color);
  max-inline-size: 357px;
  padding: 31px;
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__text {
  display: flex;
  gap: 20px;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
}

.form__dialog {
  margin: 0 auto;
}

.dialog .floppy__image {
  width: 39px;
  height: 39px;
  padding: 0; 
}

.button__dialog {
  width: 293px;
  height: 38px;
  padding: 9px 17px;
  font-family: "Press Start 2P";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 12.6px */
  text-transform: uppercase;
}






