/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  color: var(--text-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--lg-st-color) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to top,
      var(--lg-st-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--lg-color) 0.01%,
      var(--lg-en-color)
    );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 102px auto;
  border: 2px solid var(--border-color);
  max-inline-size: 700px;
  background-color: var(--page-bg);
  font-family: var(--main-font);
  text-transform: uppercase;
 
}

.header__logo {
  margin: 144px 0 20px 0;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.9rem, 0.6769rem + 0.8451vw, 1.5rem);
}

