/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
	--title-font-weight: 700;
	--text-font-weight: 400;
	--page-bg: #fff; 
	--lg-st-color: #d3d3d3;
	--lg-color: #e7e7e7;
	--lg-en-color: #1a1a1a;
	--text-color: #000;
	--border-color: #000;
	--label-color: #fff; 
}

:root.theme-dark {
	--title-font-weight: 785;
	--text-font-weight: 465;
    --page-bg: #000;
	--lg-st-color: #000;
	--lg-color: #007f0c;
	--lg-en-color: #004306;
	--text-color: #00cc14; 
	--border-color: #00CC14;
	--label-color: #000; 
}