/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
	--main-font: Inter, sans-serif;
	--accent-font: "Press Start 2P", sans-serif;
	--title-font-weight: 700;
	--text-font-weight: 400;
	--text-color: #000;
	--lg-st-color: #d3d3d3;
	--lg-color: #e7e7e7;
	--lg-en-color: #1a1a1a;
	--border-color: #000;
	--page-bg: #fff;
	--label-color: #fff; 
	--button-text-color: #fff; 
	--heart-sparks: #FF0000;
	--heart-color: #FF0000;
	--button-color: #000;
}